<!DOCTYPE html>
<html>
<head>
	<title>Welcome | ignous </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="angularjs/firstPage.js"></script>
	
	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<style>
		html {
			background: url("/images/vegetablesStockImage.jpg") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		body {
			padding-top: 0px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}

	</style>
</head>
<body ng-app="zipCode" ng-controller="zipCode">
<div class="container-full">
<nav id="top-navbar" class="navbar navbar-default navbar-top">
<div style="color: white; font-size:15px;">
<img src="/images/logo2.png" id="afLogo"> 
 Already a customer/farmer?<a href="/commonHomepage"> SignIn</a>
 </div>

</nav>
</div>
  
	<div class="container" style="padding-top: 100px;" ng-hide="zipAvailable" >
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-transparent">

				<h1 class="margin-base-vertical">Please enter your zipcode</h1>
				<form method="get" name="zipform" action="/searchHandle" class="margin-base-vertical">
					
						<span class="text-center">
						<input type="text" class="form-control input-lg" ng-pattern="valid.l"
						 name="zip" ng-model="zip" ng-trim="false" placeholder="Enter your zip code" required/>
						</span>
						<span class="error" style="color:red" ng-show="zipform.zip.$error.pattern ">Please check the zipcode format</span>
					<br>
					<div align="center"> <input ng-disabled="zipform.zip.$dirty && zipform.zip.$invalid" value="check" type="button" ng-click="checkZip()" class="btn btn-success"></div>
					</span>
				</form>
				
				
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

<div class="container" style="padding-top: 100px;" ng-hide="zipNotAvailable" >
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-transparent">

				<h1 class="margin-base-vertical" align="center">We wish we would serve you but we are not available in your place. Sorry!</h1>
				
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->





</body>
</html>